<nav>
  <div id = "top_nav">
    <%= link_to "Home", root_path, :class => "top_nav" %>
    <%= link_to "Artists", artist_path, :class => "top_nav" %>
    <%= link_to "Tour", tour_path, :class => "top_nav" %>
    <%= link_to "Street Team", street_team_path, :class => "top_nav" %>
    <%= link_to "Forum", forum_path, :class => "top_nav" %>
    <%= link_to "Contact", contact_path, :class => "top_nav" %>
  </div>
</nav>