<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="SHORTCUT ICON" href="/images/favicon.ico" type="image/x-icon">
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag 'jquery', 'application' %>
    <%= csrf_meta_tag %>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->    
    <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
    <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
    <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
    <%= stylesheet_link_tag 'custom', :media => 'screen' %>
  </head>
  <body>


<nav>&nbsp</nav>

    <span id="superposition">SuperPosition</span><span id="pronounce">(soo-per-puh-zish-uhn)</span>
    <div id="definition"><b>N.</b> The combination of two or more physical states, such as waves, to form a new physical state in accordance with this principle.</div>



    <%= yield %>


  </body>
</html>
